/**********************************************
*** BUDGET PART
**********************************************/

.budget {
  &__title {
    font-size: 1.9rem;
    text-align: center;
    font-weight: 300;
    margin: 1.7rem 0;
  }

  &__value {
    font-weight: 300;
    font-size: 4.6rem;
    text-align: center;
    margin-bottom: 3.5rem;
    letter-spacing: 2px;
  }

  &__income,
  &__expenses {
    padding: 1.7rem;
    text-transform: uppercase;
  }

  &__income {
    margin-bottom: 2em;
    background-color: var(--color-inc);

    display: flex;
    justify-content: space-between;
  }

  &__expenses {
    background-color: var(--color-exp);

    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__income--text,
  &__expenses--text {
    font-size: 1.3rem;
    color: var(--color-text);
  }

  &__income--value,
  &__expenses--value {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  &__income--percentage,
  &__expenses--percentage {
    width: 3.4rem;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
}

/**********************************************
*** FORM PART
**********************************************/

.add {
  background-color: #f7f7f7;

  &__container {
    text-align: center;
  }

  &__description,
  &__value {
    border: 1px solid #e7e7e7;
    background-color: var(--color-bg);
    color: inherit;
    font-family: inherit;
    font-size: 1.4rem;
    padding: 1.5rem;
    border-radius: 5px;
    transition: border 0.3s;
    margin-top: 2rem;
  }

  &__description {
    width: 40rem;
  }

  &__value {
    width: 30rem;
  }

  &__type {
    width: 9rem;
    height: 5rem;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    font-size: 1.8rem;
    color: inherit;
    background-color: va(--color-bg);
    font-weight: 300;
    transition: border 0.3s;
  }

  &__btn {
    font-size: 2rem;
    padding: 1.3rem 0;
    background-color: var(--color-bg);
    color: var(--color-inc);
    border: 1px solid #e7e7e7;
    text-transform: uppercase;
    cursor: pointer;
    width: 40rem;
    margin-top: 2rem;
    box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;

    &:active {
      transform: translateY(2px);
      box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.4);
    }

    &:focus {
      outline: none;
    }
  }

  &__type:focus,
  &__description:focus,
  &__value:focus {
    outline: none;
    border: 1px solid #28b9b5;
  }
}

/**********************************************
*** LISTS
**********************************************/

h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.5rem 0;
}

.income {
  &__title {
    color: var(--color-inc);
  }

  & .item__value,
  & .item__delete--btn {
    color: var(--color-inc);
  }
}

.expenses {
  &__title {
    color: var(--color-exp);
  }

  & .item__value,
  & .item__delete--btn {
    color: var(--color-exp);
  }
}

.item {
  font-size: 1.6rem;
  padding: 1.4rem;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between;

  &:first-child {
    border-top: 1px solid #e7e7e7;
  }

  &:nth-child(even) {
    background-color: #e7e7e7;
  }

  &__right {
    display: flex;
  }

  &__description {
  }

  &__value {
    transition: transform 0.3s;
  }

  &__percentage {
    margin-left: 2rem;
    transition: transform 0.3s;
    font-size: 1.1rem;
    background-color: var(--color-exp);
    padding: 3px;
    border-radius: 3px;
    width: 3.2rem;
    text-align: center;
  }

  &__delete {
    &--btn {
      font-size: 2.2rem;
      background: none;
      border: none;
      cursor: pointer;
      display: inline-block;
      line-height: 1;
      display: none;

      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }

  &:hover .item__delete--btn {
    display: block;
  }

  &:hover .item__value {
    transform: translateX(-2rem);
  }

  &:hover .item__percentage {
    transform: translateX(-20px);
  }
}
