.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-bg);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  display: flex;
}

.left-side {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
}

.right-side {
  flex: 1;
  display: flex;
}

.budget {
  flex: 1;
}

.add {
  flex: 1;
}

.income {
  flex: 1;
}

.expenses {
  flex: 1;
}